.swal-modal {
  color: var(--dialog-tertiary);
  background-color: var(--dialog-senary);
}

.swal-title {
  color: var(--dialog-tertiary);
}

.swal-button--cancel {
  color: var(--dialog-tertiary);
  background-color: var(--dialog-quinary) !important;
}

.swal-button--cancel:hover {
  background-color: var(--dialog-quaternary) !important;
}

.swal-button--confirm {
  background-color: var(--dialog-secondary) !important;
}

.swal-button--confirm:hover {
  background-color: var(--dialog-primary) !important;
}

.swal-text {
  color: var(--dialog-tertiary);
}

.swal-content__input {
  color: var(--dialog-tertiary);
  background-color: var(--dialog-senary);
}

.swal-modal:has(.boxyNewContent) {
  width: 1080px;
}

.swal-modal:has(.boxyOptionTab) {
  width: 720px;
}

@media (max-width: 1100px) {
  .swal-modal:has(.boxyNewContent) {
    width: calc(100% - 20px);
  }
}

@media (max-width: 740px) {
  .swal-modal:has(.boxyOptionTab) {
    width: calc(100% - 20px);
  }
}
