.swal-overlay.swal-overlay--show-modal {
  backdrop-filter: blur(12px);
}

.swal-modal {
  border-radius: 12px;
  color: var(--dialog-color);
  background-color: var(--dialog-background);
}

.swal-title {
  color: var(--dialog-color);
}

.swal-button--cancel {
  color: var(--dialog-color);
  background-color: var(--dialog-fill-background) !important;
}

.swal-button--cancel:hover {
  background-color: var(--dialog-fill-background-hover) !important;
}

.swal-button--confirm {
  color: var(--dialog-anti-color);
  background-color: var(--boxy-color) !important;
}

.swal-button--confirm:hover {
  background-color: var(--dialog-boxy-color) !important;
}

.swal-text {
  color: var(--dialog-color);
}

.swal-content__input {
  border-color: var(--dialog-color);
  color: var(--dialog-color);
  background-color: var(--dialog-background);
}

.swal-content__input:focus {
  border-color: var(--dialog-boxy-color);
}

.swal-modal:has(.boxyNewContent) {
  width: 1080px;
}

.swal-modal:has(.boxyOptionTab) {
  width: 720px;
}

@media (max-width: 1100px) {
  .swal-modal:has(.boxyNewContent) {
    width: calc(100% - 20px);
  }
}

@media (max-width: 740px) {
  .swal-modal:has(.boxyOptionTab) {
    width: calc(100% - 20px);
  }
}

.swal-footer:has(.swal-button--cancel):not(:has(.swal-button--confirm)) {
  text-align: center;
}
