.blocklyZoom,
.blocklyTrash {
  display: block;
  opacity: 0;
}

.blocklyBlockCanvas {
  transition: scale 0.5s;
}

#zoomBox {
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 9;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 77px;
  width: 275px;
  height: 45px;
  color: var(--zoombox-color);
  background: var(--zoombox-background);
  box-shadow: 0 3px 6px 2px var(--blockly-shadow);
  backdrop-filter: blur(5px) saturate(200%);
}

.zoomFunctions {
  height: 25px;
  vertical-align: middle;
}

#switchThemeDay {
  display: none;
}

#switchThemeNight {
  display: block;
}

#zoomBoxSeparate {
  width: 2px;
  height: 30px;
  background-color: var(--boxy-color);
}

#zoomBoxReset {
  user-select: none;
  font-weight: 500;
}

div[data-title="恢复为100%"] {
  width: 40px;
  text-align: center;
}

div[data-title] {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

div[data-title]::after {
  position: absolute;
  bottom: 50px;
  border: 8px solid rgb(0 0 0 / 0%);
  border-radius: 8px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  background-color: rgb(0 0 0 / 40%);
  opacity: 0;
  transition: all 0.25s;
  content: attr(data-title);
  pointer-events: none;
  transform-origin: 50% 100%;
  transform: scale(0);
}

div[data-title]:hover::after {
  font-weight: normal;
  opacity: 1;
  transform: scale(1);
}
