* {
  transition: background 0.3s ease;
}

:root[mode="light"] {
  --boxy-color: #4062f6;
  --boxy-tone: invert(0);
  --blockly-dropdown-color: #000;
  --blockly-dropdown-background: #fff;
  --blockly-shadow: #0002;
  --codespace-background: #fff;
  --dialog-primary: #4062f6;
  --dialog-secondary: #94afff;
  --dialog-tertiary: #000;
  --dialog-quaternary: #ccc;
  --dialog-quinary: #eee;
  --dialog-senary: #fff;
  --search-color: #000;
  --search-background: #fff;
  --toolbox-color: #000;
  --toolbox-background: #fff;
  --toolbox-category-background-hover: #dcdcdc55;
  --toolbox-category-color-selected: #000;
  --toolbox-category-background-selected: #e9eef2;
  --trashcan-background: #0005;
  --workspace-background: #fafafa;
  --zoombox-color: #000;
  --zoombox-background: #fff;
}

:root[mode="dark"] {
  --boxy-color: #4062f6;
  --boxy-tone: invert(1);
  --blockly-shadow: #fff2;
  --blockly-dropdown-color: #eee;
  --blockly-dropdown-background: #282c34;
  --codespace-background: #282c34;
  --dialog-primary: #94afff;
  --dialog-secondary: #6b8bff;
  --dialog-tertiary: #fff;
  --dialog-quaternary: #eee;
  --dialog-quinary: #aaa;
  --dialog-senary: #282c34;
  --search-color: #fff;
  --search-background: #282c34;
  --toolbox-color: #eee;
  --toolbox-background: #282c34;
  --toolbox-category-background-hover: #fff3;
  --toolbox-category-color-selected: #000;
  --toolbox-category-background-selected: #e9eef2;
  --trashcan-background: #0005;
  --workspace-background: #000;
  --zoombox-color: #eee;
  --zoombox-background: #282c34;
}
