#trashcan {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 60px;
  height: 100%;
  background-color: var(--trashcan-background);
  opacity: 0;
  backdrop-filter: blur(12px) saturate(145%);
  transition: opacity 0.2s, z-index 0.2s;
}

.trashcan {
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 0;
  width: 30px;
  opacity: 0;
  transition: opacity 0.5s;
  user-select: none;
}

#trashcan-lid {
  position: absolute;
  left: 12.5px;
  margin-top: -42.5px;
  width: 35px;
  transition: transform 0.3s cubic-bezier(0.1, 1, 0.5, 1), opacity 0.3s cubic-bezier(0.1, 1, 0.5, 1);
}

#trashcan-body {
  position: absolute;
  left: 15px;
  margin-top: -30px;
  width: 30px;
}
