iconpark-icon[name="controller"] {
  background-color: #01adff;
}

iconpark-icon[name="calculation"] {
  background-color: #f0aa8b;
}

iconpark-icon[name="function"] {
  background-color: #f88767;
}

iconpark-icon[name="utility"] {
  background-color: #5ab45b;
}

iconpark-icon[name="variable"] {
  background-color: #ffbb55;
}

iconpark-icon[name="list"] {
  background-color: #ff9c37;
}

iconpark-icon[name="dictionary"] {
  background-color: #2bc9a7;
}

iconpark-icon[name="color"] {
  background-color: #2bc9a7;
}

iconpark-icon[name="testing"] {
  opacity: 50%;
  filter: blur(3px);
}
