/* 积木栏设置 */
.blocklyToolboxDiv.blocklyNonSelectable {
  top: 60px;
  z-index: 4;
  padding: 0;
  width: 60px;
  background: #fff;
}

.blocklyFlyout .blocklyFlyoutBackground {
  display: none;
}

.blocklyFlyout {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  width: 320px;
  height: 100vh;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0 8px 8px 0;
  transition: transform 0.3s ease 0s, opacity 0.3s ease-out 0s;
  transform: translate(-260px, 0);
}

.blocklyFlyoutButtonShadow {
  display: none;
}

.blocklyTreeLabel {
  padding: 3px 0;
  font: 13px sans-serif !important;
  text-align: center;
  white-space: pre-line;
  color: #000;
}

.blocklyTreeRow {
  margin: 0 4px;
  border-radius: 4px;
  padding: 0 !important;
  height: initial;
}

/* 设置积木全显 */
.blocklyFlyout:hover {
  overflow: visible;
}

.blocklyTreeRowContentContainer {
  display: flex;
  align-items: center;
  padding: 11px 0 6px;
  flex-direction: column;
}
