#codespace {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: scroll;
  width: 0;
  height: 100%;
  background: var(--codespace-background);
  user-select: none;
}

pre {
  margin: 0;
  padding: 0 1em;
  background: transparent;
}

#code {
  padding: 1em !important;
  font-size: 14px;
  font-family: "Lucida Console", "Microsoft YaHei", cursive, Monaco, monospace;
  background: transparent;
  line-height: 1.414;
  user-select: text;
}
