#codespace {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: scroll;
  width: 0;
  height: 100%;
}

pre {
  margin: 1em;
}

.hljs {
  padding: 0 1em !important;
  font-size: 14px;
  line-height: 1.414;
  font-family: "Lucida Console", "Microsoft YaHei", cursive, Monaco, monospace;
  background: transparent;
}
